<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
		<v:variable.set name="showPid" value="{v:variable.typoscript(path: 'plugin.tx_hivecptcntquote_hivequoteshowquote.persistence.storagePid')}" />
		<v:variable.set name="itemsPerPage" value="{v:variable.typoscript(path: 'plugin.tx_hivecptcntquote_hivequotelistquote.settings.production.list.itemsPerPage')}" />
		<v:variable.set name="maximumNumberOfLinks" value="{v:variable.typoscript(path: 'plugin.tx_hivecptcntquote_hivequotelistquote.settings.production.list.maximumNumberOfLinks')}" />

		<div class="quote--list">
			<div class="row">
				<f:if condition="({aSettings.disablePagination} == '0') && ({oQuotes -> f:count()} > {itemsPerPage})">
					<f:then>
						<f:widget.paginate objects="{oQuotes}" as="oObjectsPaginated"
										   configuration="{itemsPerPage: itemsPerPage, maximumNumberOfLinks: maximumNumberOfLinks}">
							<f:for each="{oObjectsPaginated}" as="quote">
								<f:render partial="Quote/listQuote" arguments="{quote:quote, showPid:showPid}" />
							</f:for>
						</f:widget.paginate>
					</f:then>
					<f:else>
						<f:for each="{oQuotes}" as="quote">
							<f:render partial="Quote/listQuote" arguments="{quote:quote, showPid:showPid}" />
						</f:for>
					</f:else>
				</f:if>
			</div>
		</div>
	</f:section>
</div>